<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 0. 加载文件资源 -->
    <context:property-placeholder location="classpath:db/jdbc.properties"/>

    <!-- 1. 数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 2. 集成mybatis -->
    <!-- 2.1 配置sqlSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 扫描entity包下的域包 -->
        <property name="typeAliasesPackage" value="org.element.mirror.**.entity"/>
        <!-- 扫描对应路径下的mapper映射xml文件 -->
        <property name="mapperLocations" value="classpath*:org/element/mirror/**/dao/mybatis/mapper/*.xml"/>
    </bean>

    <!-- 2.2 扫描mybatis的mapper接口代理类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.element.mirror.user.dao"/>
    </bean>

    <!-- 3. 事务管理 -->
    <!-- 3.1 spring面向数据源的事务管理器-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 3.2 事务详情，对类中方法进行增强 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="list*" read-only="true"/>
            <tx:method name="add*"/>
            <tx:method name="save*"/>
            <tx:method name="insert*"/>
            <tx:method name="update*"/>
            <tx:method name="delete*"/>
            <tx:method name="remove*"/>
        </tx:attributes>
    </tx:advice>

    <!-- 3.3 筛选出需要增强的方法 -->
    <aop:config>
        <aop:pointcut id="myPointCut" expression="execution(* org.element.mirror.user.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="myPointCut"/>
    </aop:config>


    <!-- 扫描包 -->
    <context:component-scan base-package="org.element.mirror"/>
    <!--<context:annotation-config/>-->
</beans>